.section_1{
    display:flex;
    margin: 50px 10px 10px 50px;
    padding:10px;
    border-radius: 15px;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:rgb(29,43,56);
    height: 300px;
    font-size: large;
    color:rgb(239,243,245);
}
.section_2{
    display:flex;
    margin:10px 10px 10px 50px;
    padding:10px;
    border-radius: 15px;
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(29,43,56);
    height: 300px;
    font-size: large;
    color:rgb(239,243,245);
}
.section_3{
    display:flex;
    margin:50px 50px 10px 10px;
    padding:10px;
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(29,43,56);
    height: 300px;
    font-size: large;
    color:rgb(239,243,245);
}
.section_4{
    display:flex;
    margin:10px 50px 10px 10px;
    padding:10px;
    border-radius: 15px;
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(29,43,56);
    height: 300px;
    font-size: large;
    color:rgb(239,243,245);
}
img{
    border-radius: 15px;
    padding-right:10px;
}