* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: "Goblin One", 'Times New Roman';
}

body {
    font-family: "hepta slab", sans-serif;
}


.main_section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 50px repeat(2,1fr);
    gap:5px;
    background-color:rgb(136,156,168);
}
.top_section{
    display:flex;
    font-family: "Goblin One", 'Times New Roman';
    color:rgb(239,243,245);
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    grid-row: 1/2;
    grid-column: 1/4;
    padding:50px;
}
.section_1{
    display:flex;
    margin:50px;
    padding:25px;
    border-radius: 15px;
    grid-row:2/4;
    grid-column:1/4;
    background-color:rgb(29,43,56);
    height: 300px;
    color:rgb(239,243,245);
}

footer{
    display: grid;
    grid-row:4/5;
    grid-column:1/5;
    color: rgb(239,243,245);
    background-color:rgb(29,43,56);
    height:50px;
    padding:10px;
    align-items: center;
    justify-items: center;
    font-family: "Goblin One", "Times New Roman";
}


